body{
    background-image: url(../img/1173035-cold-weather-wallpaper-1920x1200-1080p.jpg);
    background-size: 100% 100%;
}
.num{
    font-size: 4.4285714286rem;
}
 img{
    width:80px;
}
.colophon{
   margin-top: 25px;
   margin-left:5px;
    color:#6a6d71 ;
}
.font{
    font-size: 18px;
    padding-block: 4px;
}
.icon {
    width: 40px;
    height: 40px;
    background-color:rgb(30, 32, 43);
  }
  
.icon i {
    color:rgb(0, 154, 216);
    transition: color 0.5s;
  }
  
.icon {
    cursor: pointer;
    transition: background-color 500ms;
  }
  
.icon:hover {
    background-color: rgb(0, 154, 216);
  }
  
.icon:hover > i {
    color: white !important;
  }